figure {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
} 

figure > figcaption {
    margin-top: 0.5em;
    text-align: center;
}

figure > img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}

.read-more {
    float: right;
}

div.highlight {
    border-style: solid;
    border-color: #002b36;
    border-width: 1px;
}